<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <div class="top-bar">
            <div class="title">
                <a href="/">THE BINGE BOX</a></div>

            <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                </ul>

                <form action="/search" method="post" class="search-form">
                    <input type="text" name="showName" placeholder="Search Tv Show" required>
                    <button type="submit">🔍</button>
                </form>

            </nav>
        </div>
    </header>

</body>

</html>