<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <div class="top-bar">
            <div class="title">
                <a href="/">THE BINGE BOX</a>
            </div>

            <div class="side-bar">
                <div class="title2">
                <a href="/">Home</a>
                </div>


                <form action="/search" method="post" class="search-form">
                    <input type="text" name="showName" placeholder="Search Tv Show" required>
                    <button type="submit">🔍</button>
                </form>

                </nav>
            </div>
        </div>
    </header>

</body>

</html>